{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription au Webinaire</title>
    <link rel="stylesheet" href="{% static 'webinar/css/styles.css' %}">
</head>
<body>
<div class="form-container">
    <h2>Inscrivez-vous</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">S'inscrire</button>
    </form>
    <div class="login-link">
        <p>Déjà inscrit ? <a href="{% url 'login' %}">Connectez-vous ici</a></p>
    </div>
</div>
<script src="{% static 'webinar/js/scripts.js' %}"></script>
</body>
</html>
